MINI_CPU.qws
MINI_CPU.qpf
MINI_CPU.qsf
modelsim.ini
transcript
vlog.opt
vsim.wlf
work
simulation
output_files
db
incremental_db
devkits
*.bak
c5_pin_model_dump.txt

rom.mem
src/rom.mif
wlfthblt8d
vish_stacktrace.vstf