*.qws
*.qpf
*.qsf
*.mif
*.bin
*.o

modelsim.ini
transcript
vlog.opt
vsim.wlf
work
simulation
output_files
db
incremental_db
devkits
*.bak
c5_pin_model_dump.txt

rom.mem
wlfthblt8d
vish_stacktrace.vstf
mini_cpu_wave.do
